extends base

block content
    main.main
        .card-container 
            each prod in prods
                .card
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/prods/${prod.imageCover}`, alt='${prod.name}')
                        h3.heading-tertirary
                            span= prod.name

                    .card__details
                        h4.card__sub-heading=`${prod.difficulty} ${prod.duration}-day prod}`
                        p.card__text= prod.summary
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-map-pin')
                            span= prod.startLocation.description
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-calendar')
                            span= prod.startDates[0].toLocaleString('en-US', { month: 'long', day: 'numeric', year: 'numeric' })
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-flag')
                            span= `${prod.locations.length} stops`
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-user')
                            span= `${prod.maxGroupSize} people`

                    .card__footer
                        p
                            span.card__footer-value= `$${prod.price} `
                            span.card__footer-text per person
                        p.card__ratings
                            span.card__footer-value= prod.ratingsAverage
                            span.card__footer-text= ` rating (${prod.ratingsQuantity})`
                        a.btn.btn--green.btn--small(href=`/prod/${prod.slug}`) Details



